/* Global styling for the entire body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #3494e6, #ec6ead);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff; /* Text color set to white for better visibility on the gradient background */
}

/* Styling for the header section */
.header {
    text-align: center;
    margin-bottom: 10px;
}

/* Styling for the header's h1 element */
.header h1 {
    color: #fff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Styling for the game container */
.game-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    margin: 20px;
}

/* Styling for the tic-tac-toe board */
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 20px;
    text-align: center;
}

/* Styling for individual cells in the board */
.cell {
    width: 100%;
    height: 80px;
    font-size: 2em;
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    color: black;
}

/* Styling for cell hover effect */
.cell:hover {
    background-color: #f2f2f2;
}

/* Styling for game messages */
.message {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

/* Styling for mode selector */
.mode-selector {
    margin: 20px;
}

/* Styling for labels */
label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #333;
}

/* Styling for select dropdowns */
select {
    padding: 8px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Styling for game messages */
.message {
    margin-top: -5px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}

/* Styling for turn information */
.turn {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for the reset button */
.reset-button {
    background-color: #3494e6;
    color: #fff;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    margin: 1px 75px; /* Center the button horizontally with top margin */
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Styling for reset button hover effect */
.reset-button:hover {
    background-color: #2074b2;
}
